/* Error Modal Container */
.error-modal-container {
  border-radius: 24px;
  background-color: rgba(240, 239, 247, 1);
  max-width: 615px;
  overflow: hidden;
  padding: 24px 24px 100px;
}

@media (max-width: 991px) {
  .error-modal-container {
    padding: 0 20px;
  }
}

/* Error Modal Content */
.error-modal-content {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 63px 80px;
}

@media (max-width: 991px) {
  .error-modal-content {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* Error Modal Image */
.error-modal-image {
  aspect-ratio: 1.41;
  object-fit: contain;
  object-position: center;
  width: 286px;
  max-width: 100%;
}

/* Error Modal Text Section */
.error-modal-text-section {
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  align-items: stretch;
  font-family: Lato, -apple-system, Roboto, Helvetica, sans-serif;
  justify-content: center;
}

@media (max-width: 991px) {
  .error-modal-text-section {
    max-width: 100%;
    margin-right: 2px;
  }
}

/* Error Modal Title */
.error-modal-title {
  color: rgba(43, 45, 66, 1);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.92px;
  align-self: center;
}

/* Error Modal Message */
.error-modal-message {
  display: flex;
  margin-top: 8px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  font-size: 24px;
  color: rgba(115, 123, 125, 1);
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.96px;
  line-height: 38px;
  justify-content: start;
}

@media (max-width: 991px) {
  .error-modal-message {
    max-width: 100%;
  }
}

/* Error Modal Divider */
.error-modal-divider {
  margin-top: 26px;
  flex-shrink: 0;
  height: 2px;
  border: 2px dashed rgba(221, 221, 225, 1);
}

@media (max-width: 991px) {
  .error-modal-divider {
    max-width: 100%;
  }
}
